@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
}

body {
  * {
    font-family: 'Inter', sans-serif;
    color: white;
  }

  background-color: #1b1b1b;
}

h1 {
  font-weight: bold;
  font-size: 30px;
  line-height: 120%;
  text-transform: uppercase;

  @media (min-width: 992px) {
    font-size: 64px;
    line-height: 104.5%;
  }
}

h2 {
  text-transform: uppercase;
  font-weight: bold;
  color: #999999;
  font-size: 18px;
  text-align: center;

  @media (min-width: 992px) {
    font-size: 28px;
    line-height: 64px;
  }
}

h3 {
  font-size: 18px;
  font-weight: bold;

  @media (min-width: 992px) {
    font-size: 28px;
    line-height: 30px;
  }
}

h4 {
  font-size: 12px;
  font-weight: bold;

  @media (min-width: 992px) {
    font-size: 20px;
    line-height: 25px;
  }
}

a {
  text-decoration: none;
  color: white;
}

.btn {
  cursor: pointer;
  border: none;
  padding: 0;

  &.btn_red {
    font-size: 12px;
    line-height: 20px;
    background: #dd3037;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 31px;
    border-radius: 30px;

    @media (min-width: 992px) {
      font-size: 20px;
      padding: 20px 40px;
    }
  }

  &.btn_gray {
    border-radius: 5px;
    font-size: 12px;
    line-height: 24px;
    border: 3px solid #999999;
    border-radius: 5px;
    background: transparent;
    font-weight: bold;
    color: white;
    padding: 0 14px;
    text-transform: uppercase;

    &.active {
      background: #999999;
      color: black;
    }

    @media (min-width: 992px) {
      font-size: 20px;
      padding: 12.5px 30px;
      border-radius: 10px;
      font-weight: normal;
    }
  }

  &.btn_burger {
    padding: 0;
  }

  &.btn_collapse-control {
    svg {
      width: 25px;
      height: 25px;

      @media (min-width: 992px) {
        width: 40px;
        height: 40px;
      }
    }

    &[aria-expanded='true'] {
      svg.collapse_true {
        display: none;
      }

      svg.collapse_false {
        display: block;
      }
    }

    &[aria-expanded='false'] {
      svg.collapse_true {
        display: block;
      }

      svg.collapse_false {
        display: none;
      }
    }
  }
}

.container_inner {
  padding: 45px 20px;
  width: 360px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 992px) {
    padding: 70px 80px;
    min-width: 991px;
    max-width: 1440px;
    width: 100%;
  }
}

.header {
  background: #111311;

  @media (min-width: 992px) {
    background-color: #323233;
  }

  .container_inner {
    flex-direction: row;
    justify-content: space-between;
    padding: 2px 10px;

    &.container_inner_offcanvas {
      padding: 3px 10px;
      justify-content: flex-end;

      @media (min-width: 992px) {
        padding: 0;
      }
    }

    @media (min-width: 992px) {
      padding: 10px 36.5px;
    }
  }

  .header__logo {
    width: 60px;
    height: 30px;

    @media (min-width: 992px) {
      width: 77px;
      height: 39px;
    }
  }

  .header__nav {
    display: none;

    @media (min-width: 992px) {
      display: flex;
      gap: 33px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 12px;
      line-height: 50px;
    }
  }

  .header__contacts {
    font-size: 9px;
    line-height: 15px;
    font-weight: bold;
    text-align: right;

    @media (min-width: 992px) {
      font-size: 12px;
      line-height: 20px;
    }

    .header__label {
      display: none;

      @media (min-width: 992px) {
        display: inline;
        font-size: 12px;
        line-height: 20px;
        font-weight: bold;
        color: #979799;
      }
    }
  }
}

.offcanvas.offcanvas-start {
  background-color: #212121;
  width: 100vw;

  &.show {
    .application {
      display: flex;
    }
  }
}

.application {
  display: none;
  width: 360px;
  margin: 0 auto;
  background: #212121;
  padding: 45px 20px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  p {
    font-size: 10px;
    line-height: 15px;
  }

  h3 {
    margin-left: 10px;
  }

  input[type='text'],
  input[type='number'],
  select {
    background-color: transparent;
    padding: 12px 10px;
    text-align: left;
    font-size: 18px;
    width: 100%;
    border: none;
    -moz-appearance: textfield;

    @media (min-width: 992px) {
      font-size: 20px;
      line-height: 25px;
    }
  }

  .application__form {
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
  }

  .application__confirmation {
    display: flex;
    gap: 5px;
    align-items: flex-start;

    input[type='checkbox'] {
      width: 12px;
      height: 12px;
    }

    p {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }

  .application__content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .label_underlined {
      width: 100%;
      border-bottom: 3px solid #999999;
    }

    select {
      appearance: none;
      outline: none;
      background-image: url('./assets/images/svg/sprite.svg#arrow-bottom');
      background-repeat: no-repeat;
      background-position: right 10px center;
      cursor: pointer;

      option {
        color: black;
        cursor: pointer;
      }
    }
  }

  .application__cv {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;

    p {
      margin-left: 10px;
    }

    input[type='file'] {
      display: none;
    }
  }
}

.hero {
  height: 500px;
  background-image: url('./assets/images/webp/main.webp');
  background-size: 240%;
  background-position: 75%;
  background-repeat: no-repeat;

  @media (min-width: 992px) {
    height: 672px;
    background-size: cover;
    background-position: center;
  }

  .container_inner {
    justify-content: end;
    gap: 35px;
    height: 100%;
    text-align: center;

    @media (min-width: 992px) {
      padding-bottom: 105px;
      gap: 45px;
    }
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

.about-us {
  background: #212121;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: 992px) {
    font-size: 18px;
    line-height: 22px;
  }

  .container_inner {
    gap: 35px;

    @media (min-width: 992px) {
      gap: 80px;
      padding-bottom: 40px;
    }
  }

  .about-us__content {
    display: flex;
    flex-direction: column;
    gap: 35px;

    @media (min-width: 992px) {
      flex-direction: row;
      gap: 70px;
    }
  }

  .about-us__item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    text-align: center;
    justify-content: space-between;

    @media (min-width: 992px) {
      gap: 20px;

      p {
        flex-grow: 2;
        display: flex;
        align-items: center;
      }
    }
  }

  .about-us__feature {
    width: 80px;
    height: 70px;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #b6ffba;
    box-shadow:
      0px 0px 10px #b6ffba,
      0px 4px 4px rgba(0, 0, 0, 0.5);

    color: #21a038;
    font-size: 24px;
    line-height: 40px;
    font-weight: bold;

    @media (min-width: 992px) {
      width: 100px;
      height: 80px;
      font-size: 28px;
      line-height: 30px;
    }
  }
}

.vacancies {
  background: #212121;

  .container_inner {
    gap: 35px;

    @media (min-width: 992px) {
      gap: 45px;
    }
  }

  .vacancies__title {
    align-self: flex-start;

    @media (min-width: 992px) {
      align-self: center;
    }
  }

  .vacancies__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    @media (min-width: 992px) {
      align-self: center;
      justify-content: center;
      gap: 20px;
    }
  }

  .vacancies__list {
    width: 100%;
    max-width: 745px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    @media (min-width: 992px) {
      gap: 45px;
    }
  }

  .vacancies__item {
    border-radius: 30px;
    padding: 27px;
    border: 3px solid #999999;

    @media (min-width: 992px) {
      padding: 27px 45px;
    }
  }

  .vacancies__header {
    display: flex;
    justify-content: space-between;
  }

  .vacancies__content {
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;

    & > li {
      margin-bottom: 5px;
    }

    h4 {
      margin-bottom: 5px;
    }

    ul {
      padding-left: 1rem;

      li {
        list-style: outside;
      }
    }
  }

  .vacancy__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .vacancy__title {
    display: flex;
    align-items: center;
    gap: 10px;

    @media (min-width: 992px) {
      gap: 15px;
    }

    &::before {
      content: ' ';
      background-image: url('./assets/images/svg/vacancy.svg');
      background-repeat: no-repeat;
      background-size: cover;
      width: 25px;
      height: 25px;
      flex-shrink: 0;

      @media (min-width: 992px) {
        width: 40px;
        height: 40px;
      }
    }
  }

  .vacancy__price {
    font-size: 18px;
    font-weight: bold;
    color: #21a038;
    text-transform: uppercase;
    display: flex;
    gap: 10px;
    align-items: center;
    flex-shrink: 0;

    @media (min-width: 992px) {
      font-size: 28px;
      line-height: 30px;
    }

    &::before {
      content: ' ';
      background-image: url('./assets/images/svg/price.svg');
      background-repeat: no-repeat;
      background-size: cover;
      width: 25px;
      height: 25px;

      @media (min-width: 992px) {
        width: 40px;
        height: 40px;
      }
    }
  }
}

.advantages {
  background: #111311;
  font-size: 18px;

  .container_inner {
    padding: 45px 0;
    gap: 20px;

    @media (min-width: 992px) {
      padding: 70px 50px;
      gap: 45px;
    }
  }

  .advantages__list_mobile {
    @media (min-width: 992px) {
      display: none;
    }

    .advantages__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 13.5px 20px;
    }

    .advantages__item {
      border-bottom: 3px solid #999999;
    }

    .advantages__content {
      padding: 0 20px 15px;
    }
  }

  .advantages__list_desktop {
    display: none;

    @media (min-width: 992px) {
      display: flex;
      width: 100%;
      max-width: 1200px;
      flex-direction: column;
      gap: 27px;

      .advantages__item {
        width: 100%;
        border: 3px solid #999999;
        border-radius: 20px;
        padding: 22px 42px;
        display: flex;
        gap: 45px;
        align-items: center;

        img {
          margin: 0 32.5px;
        }

        .advantages__content {
          display: flex;
          flex-direction: column;
          gap: 23px;
          font-size: 20px;
          line-height: 25px;
          letter-spacing: 0;
        }
      }
    }
  }
}

.products {
  background: #212121;

  @media (min-width: 992px) {
    margin-bottom: 50px;
  }

  .container_inner {
    gap: 35px;
    padding: 45px 0 40px 0;

    @media (min-width: 992px) {
      padding: 70px 0;
      gap: 70px;
    }
  }

  .products__controls {
    display: flex;
    gap: 5px;
    width: 100%;
    justify-content: center;

    @media (min-width: 992px) {
      gap: 20px;
    }

    li {
      flex-grow: 1;
      max-width: 108px;

      @media (min-width: 992px) {
        max-width: 269px;
      }

      button {
        width: 100%;
      }
    }
  }

  swiper-container {
    width: 100%;
  }

  swiper-slide {
    &.swiper-slide-active {
      width: 165px !important;
      height: 182px;

      background-color: #d9d9d9;
      border-radius: 10px;
      box-shadow: 0px 0px 0px 5px rgba(217, 217, 217, 0.25);

      @media (min-width: 992px) {
        width: 618px !important;
        height: 420px;
        border-radius: 20px;
        box-shadow: 0px 0px 0px 10px rgba(217, 217, 217, 0.25);
        margin-right: 0 !important;
      }
    }

    &.swiper-slide-prev,
    &.swiper-slide-next {
      width: 130px;
      height: 148px;
      border-radius: 10px;
      background: #111311;
      margin: auto;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

      @media (min-width: 992px) {
        width: 618px;
        height: 319px;
        border-radius: 20px;
      }
    }

    &.swiper-slide-prev {
      background: linear-gradient(to right, rgba(0, 0, 0, 0) 6.07%, rgba(0, 0, 0, 0.7) 99.89%), #d9d9d9;
      margin-right: 20px !important;

      @media (min-width: 992px) {
        margin-right: 75px !important;
      }
    }

    &.swiper-slide-next {
      background: linear-gradient(to left, rgba(0, 0, 0, 0) 6.07%, rgba(0, 0, 0, 0.7) 99.89%), #d9d9d9;
      margin-left: 5px !important;

      @media (min-width: 992px) {
        margin-left: 75px !important;
      }
    }
  }

  swiper-container::part(container) {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 1rem;
  }

  swiper-container::part(pagination) {
    position: static;
    height: 15px;
  }

  swiper-container::part(bullet) {
    width: 15px;
    height: 15px;
    transition: all 0.5s;
    background-color: #888988;
  }

  swiper-container::part(bullet-active) {
    width: 42px;
    height: 15px;
    border-radius: 25px;
    transition: all 0.5s;
    background-color: #ffffff;
  }

  swiper-container::part(button-prev),
  swiper-container::part(button-next) {
    color: white;
    width: 17px;
    height: 30px;
    top: 95px;

    @media (min-width: 992px) {
      top: 230px;
    }
  }

  swiper-container::part(button-prev) {
    @media (min-width: 992px) {
      left: 50px;
    }
  }

  swiper-container::part(button-next) {
    @media (min-width: 992px) {
      right: 50px;
    }
  }
}

.team {
  background: #111311;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: 992px) {
    font-size: 20px;
    line-height: 25px;
  }

  .container_inner {
    gap: 35px;

    @media (min-width: 992px) {
      gap: 45px;
    }

    @media (min-width: 1440px) {
      //padding: 70px 150px;
    }
  }

  .team__info {
    display: flex;
    flex-direction: column;
    gap: 13px;
    letter-spacing: 0;
    font-weight: bold;

    @media (min-width: 992px) {
      flex-direction: row;
      gap: 100px;
    }

    img {
      display: none;

      @media (min-width: 992px) {
        display: block;
      }
    }

    .team__info-item {
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: space-between;
      max-width: 561px;
    }
  }

  swiper-container {
    width: 100%;
  }

  swiper-container::part(button-prev),
  swiper-container::part(button-next) {
    color: white;
    width: 17px;
    height: 30px;
    top: 130px;

    @media (min-width: 992px) {
      top: 200px;
    }
  }

  swiper-container::part(button-prev) {
    left: 0;
  }

  swiper-container::part(button-next) {
    right: 0;
  }

  swiper-container::part(container) {
    height: 580px;

    @media (min-width: 992px) {
      height: 436px;
      margin-top: 85px;
    }
  }

  .team__item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    text-align: center;

    @media (min-width: 992px) {
      flex-direction: row-reverse;
      gap: 100px;
      align-items: flex-start;
      padding: 0 50px;
    }
  }

  .team__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;

    @media (min-width: 992px) {
      gap: 45px;
    }
  }

  .team__picture {
    width: 240px;
    height: 240px;
    flex-shrink: 0;
    background-image: url('./assets/images/svg/Блик.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    img {
      margin: 0 auto;
      object-fit: contain;
      height: 100%;
      aspect-ratio: auto;
    }

    @media (min-width: 992px) {
      width: 436px;
      height: 436px;
    }
  }

  .team__title {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;

    @media (min-width: 992px) {
      font-size: 28px;
      line-height: 40px;
    }
  }

  .team__history {
    text-align: left;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 560px;

    li {
      list-style: outside;
    }
  }
}

.invitation {
  background-color: #212121;
  background-image: url('./assets/images/svg/people.svg'), url('./assets/images/svg/people-shadow.svg');
  background-position: center, center;
  background-size: 120%, 250%;
  background-repeat: no-repeat, no-repeat;
  font-size: 18px;
  font-weight: bold;

  @media (min-width: 992px) {
    font-size: 28px;
    background-size: 74%, 120%;
    background-position:
      center top 25%,
      center;
  }

  @media (min-width: 1440px) {
    background-size: 50%, 80%;
    background-position:
      center top 15%,
      center;
  }

  .container_inner {
    gap: 140px;
    padding-bottom: 35px;

    @media (min-width: 992px) {
      gap: 238px;
      padding-bottom: 80px;
    }
  }

  .invitation__notes {
    line-height: 24px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap: 15px;

    @media (min-width: 992px) {
      line-height: 40px;
      max-width: 904px;
    }
  }

  .invitation__widget {
    border-radius: 20px;
    border: 3px solid #36853b;
    padding: 20px 26.5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: rgba(0, 0, 0, 0.8);
    line-height: 22px;
    max-width: 570px;
    box-shadow:
      0px 0px 10px rgba(79, 183, 86, 0.7),
      0px 4px 4px rgba(0, 0, 0, 0.25);

    @media (min-width: 992px) {
      padding: 50px;
      line-height: 40px;
      gap: 45px;
    }
  }
}

.contacts {
  background: #111311;

  .container_inner {
    padding-bottom: 0;
    gap: 40px;

    @media (min-width: 992px) {
      flex-direction: row;
      gap: 120px;
      padding: 86px 50px 0px 50px;
      align-items: flex-start;
    }
  }

  .contacts__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    align-items: flex-start;
  }

  .contacts__controls {
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 100%;

    @media (min-width: 992px) {
      margin-top: -24px;
    }

    li {
      flex-grow: 1;
      max-width: 50%;

      button {
        width: 100%;
      }
    }
  }

  .contacts__details {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-self: flex-start;
  }

  .contacts__line {
    font-size: 12px;
    line-height: 25px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;

    &:first-child::before {
      content: url('./assets/images/svg/phone.svg');
      display: flex;
      align-items: center;
    }

    &:nth-child(2)::before {
      content: url('./assets/images/svg/envelop.svg');
      display: flex;
      align-items: center;
    }

    &:last-child {
      &::before {
        content: url('./assets/images/svg/location-mark.svg');
        display: flex;
        align-items: center;
      }

      a {
        text-decoration: underline;
      }
    }
  }

  .contacts__map {
    width: 360px;
    height: 223px;

    @media (min-width: 992px) {
      width: 662px;
      height: 411px;
    }
  }

  .contacts__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    @media (min-width: 992px) {
      gap: 60px;
    }
  }
}

.footer {
  background: #111311;
  line-height: 20px;
  font-weight: bold;

  @media (min-width: 992px) {
    font-weight: normal;
    font-size: 14px;
  }

  .container_inner {
    text-align: center;
    gap: 15px;
    padding: 40px 20px 50px;

    @media (min-width: 992px) {
      gap: 30px;
      padding: 46px 20px;
    }
  }

  .footer__content {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media (min-width: 992px) {
      gap: 0;
    }
  }

  .footer__copy {
    display: flex;
    flex-direction: column;
    gap: 0;

    @media (min-width: 992px) {
      flex-direction: row;
      gap: 0.5rem;
    }
  }

  .footer__links {
    display: flex;
    flex-direction: column;
    align-items: center;

    li:first-child {
      display: none;

      @media (min-width: 992px) {
        display: block;
      }
    }

    li:last-child {
      font-size: 12px;
      font-weight: normal;

      @media (min-width: 992px) {
        font-size: 14px;
      }
    }

    a {
      display: flex;
      flex-direction: column;

      &::after {
        content: ' ';
        width: 100%;
        height: 1px;
        background: white;
        margin-top: -1px;
      }
    }
  }
}
